<plugin>
<name>Mura Cache</name>
<package>MuraCache</package>
<directoryFormat>packageOnly</directoryFormat>
<version>0</version>
<loadPriority>1</loadPriority>
<provider>Blue River</provider>
<providerURL>http://blueriver.com</providerURL>
<category>Application</category>
<settings/>
<eventHandlers>
	<eventHandler event="onApplicationLoad" component="lib.eventHandler" persist="false"/>
</eventHandlers>
<displayobjects location="global"/>
</plugin>
